*{

    margin:0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
    /* overflow-y: hidden; */
   
}



nav{
    background: #0B5345;
    margin-top: rem;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.2rem;
    width:100%;
    height:4rem;
    display:flex;
    position:fixed;
    z-index: 2;
    margin-bottom:0;
  
}

.nav-logo{
    font-weight: 900;
    margin-top:8px;
    margin-left:20px;
    width:40%;
    align-self: center;
    
}

.logo,.nav-logo-letter{

    margin-bottom: 0;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 900;
    color:#FDFEFE; 
}

.nav-link-bar{
   
    flex:1;
    font-size: 1.3rem;
    align-self: center;
    width:60%;
    position:relative;
    z-index: 1;
  
   
}

.nav-links{
    font-size: 2rem;
    background: #FDFEFE;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:0;
    display: flex;
    justify-content: flex-end;
   
}

.nav-link{

 margin:0 auto;
}

.menu{
    display: none;
    flex-shrink: 1;
}

@media(max-width:985px){

  .nav-links{
    display:none;
  }

  .nav-link-bar{
    display:flex;
    justify-content: flex-end;
    margin-right:2rem;
  }
  .menu{
    display: block;
    width:10%;
   
  }


  .hamburger{
	width: 30px;
  	height: 5px;
  	background:#FDFEFE;
  	margin: 5px 0;
  	border-radius: 3px;
}
}


/* ======================frontpage===================== */
.frontpage{
     /* background: linear-gradient(250deg, rgba(186,74,0,1) 34%, rgba(220,118,51,1) 34%, rgba(220,118,51,1) 41%, rgba(220,118,51,1) 61%, rgba(30,45,60,1) 61%); */
    width:100%;
    overflow: hidden;
    height:150rem;
    /* height:fit-content; */
    font-family: 'REM', sans-serif;

}

#img1{
    background-position: center;
    position: relative;
    z-index: 1;
    top:-2rem;
    left:-9rem;
    opacity:75%;

}

.img1{
    width:110%;
    height:1024px;
   
    /* border-radius:10% ; */
}

.heropage{
    margin-top:-10rem;
    background:#1f1b1b;
    height:64rem;
   
}

.heropage1{
    width:50%;
    height:50rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    position: relative;
    left:5rem;
    bottom:47rem;
    z-index:1;


}



.analytic_btn{
    width:330px;
    height:70px;
    color:#121414;
    border:3px solid #ede6dd;
    background: linear-gradient(301deg, rgba(245,176,65,1) 0%, rgba(241,196,15,1) 0%, rgba(241,196,15,1) 32%, rgba(241,196,15,1) 42%, rgba(241,243,14,1) 59%, rgba(245,237,65,1) 90%);
    font-family: 'Geologica', sans-serif; 
    font-weight: 550;
    font-size:1.3rem ;
    text-transform: capitalize;
    position:relative;
    z-index: 0;
    align-self: flex-start;
    top:3rem;
    left:0rem;
    padding:5px 5px;
    border-radius:10px;
    transition-property: all;
    transition-duration: 0.3s;
    

}

.analytic_btn:hover{
    color:#0c0c0c;
    border:1px solid #f0f0f8;
    background: #f1f4f8;
    box-shadow: none;
    
    
}


.slogan{
    width:100%;
    position:relative;
    align-self: flex-start;
    color:#FDFEFE;
    font-weight: 900;
    font-size:4rem;
    text-transform:uppercase;
    padding-left: 1rem;
    line-height: 9rem;
    z-index: 1;
}

.highlight1{
    background: #121212;
    border:1px solid #edeae8; 
    padding:10px;
    border-radius: 10px;
}

#heropage2{
    top:-2rem;
    height:300rem;
    position:relative;
    /* background:#a11d33; */
    overflow: hidden;

} 

.heropage2{
   
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;

}

#showcase1{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
    background:#a11d33;
    /* height:30rem; */
    padding-left:2rem;

}

.slogan_about{
    width:70%;
    top:5rem;
    text-transform: capitalize;
    font-family: 'Geologica', sans-serif; 
    font-weight: 600;
    font-size: 2.2rem;
    color:#FDFEFE;
    position:relative;
    align-self:flex-start;
    z-index: 1;
    /* order:0;  */
    

}

.highlight2{
    font-size:3.3rem ;
    color:#F1C40F;
    background: linear-gradient(301deg, rgba(245,176,65,1) 0%, rgba(241,196,15,1) 0%, rgba(241,196,15,1) 32%, rgba(241,196,15,1) 42%, rgba(241,243,14,1) 59%, rgba(245,237,65,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img2{
    width:600px;
    height:400px;
    
}

#img2{
position:relative;
top:1rem;
left:0rem;
z-index:1;
}



/* #img5{
  position:relative;
  z-index:0;
  top:2rem;
  left:-80rem; 
  /* order:1; */

 

/* .img5{
   
    width:300px;
    height:300px;
}  */
 .semicircle1{
    position: relative;
    left:15rem;
    top:3.1rem;
     width:100px;
     height:50px;
     background: #a11d33;
     border-radius:0 0 12rem 12rem ;
     z-index: 1;
     
 }



#showcase2{
    width:100%;
    height:500px;
    /* width:380px; */
    height:30rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top:0rem;
    /* left:3rem; */
    justify-content: flex-end;
    justify-content: space-evenly;
    background: #ffb600;
    /* border-radius:10px; */
}

.showcase2Para{
    font-family: 'Geologica', sans-serif; 
    font-weight: 600;
    font-size: 1.5rem;
    color:#dcdad5;
}
.img3{

    width:330px;
    height:330px;
}

#showcase3{
    width:70%;
    height:500px;
    width:100%;
    height:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* top:4rem; */
    /* left:5rem; */
    justify-content: flex-end;
    justify-content: space-evenly;
    background: #007f5f;
    border-radius:10px;
}
#img4{

}
.img4{
    width:430px;
    height:430px;

}  


/* 
#img2{
    width:370px;
    border: 2px solid white;
    position:relative;
    top:5.5rem;
   
}
.img2{
  
    width:400px;
    height:600px;
    padding:2rem; 
} */


@media (max-width:425px){

   .heropage{
     
   } 

  .slogan{
    top:-4rem;
    width:90%;
    font-size:2rem;
    line-height:5.5rem;

  }
.img2{
    left:-13rem;
    width:200%;
    height:50%;
}

.heropage1{
    /* top:rem; */
    top:-12rem;
    left:1rem;
}

.analytic_btn{
    margin:30px;
    top:13rem;
    font-size:1rem;
    width:300px;
    height:50px;
    border-radius:80px;
    box-shadow: 0px 0px 10px 5px #D35400;
}

}





