*{
   
    height: auto;
    margin:0;
    text-decoration: none; 
    list-style-type: none;
    box-sizing: border-box;
    /* overflow-y: hidden; */
   
}



nav{
    background: #1b3a4b;
    /* background-image: linear-gradient(to right bottom, #081c15, #112e23, #194131, #235540, #2d6a4f); */
    font-family: 'Josefin Sans',sans-serif;
    font-size: 1.2rem;
    width:100%;
    height:4rem;
    display:flex;
    position:fixed;
    z-index: 2;
    margin-bottom:0;
   border-bottom-left-radius:7px;
   border-bottom-right-radius:7px ;
  
}

.nav-logo{
    font-weight: 900;
    margin-left:10px;
    width:50%;
    align-self: center;
    
    
}

.logo,.nav-logo-letter{
    
    margin:0;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 900;
    color:#FDFEFE; 
}

.logo{
    border-radius:6px;
    width:230px;
    height:50px;
}

.nav-link-bar{
   
    flex:1;
    font-size: 1.3rem;
    align-self: center;
    width:60%;
    position:relative;
    z-index: 1;
  
   
}

.nav-links{
    font-size: 2rem;
    background: #FDFEFE;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin:0;
    display: flex;
    justify-content: flex-end;
   
}

.nav-link{

 margin:0 auto;
}

.menu{
    display: none;
    flex-shrink: 1;
}

@media(max-width:985px){

  .nav-links{
    display:none;
  }

  .nav-link-bar{
    display:flex;
    justify-content: flex-end;
    margin-right:2rem;
  }
  .menu{
    display: block;
    width:10%;
   
  }


  .hamburger{
	width: 30px;
  	height: 5px;
  	background:#FDFEFE;
  	margin: 5px 0;
  	border-radius: 3px;
}
}


/* ======================frontpage===================== */
.frontpage{
    width:100%;
    margin: 0;
    overflow: hidden;
    height:150rem;
    font-family: 'REM', sans-serif;
    background-image: url(bg1.png);
    background-position: cover;

}

.heropage{
    background:black;
    width: 100vw;
    height:100vh; 
}

#img1{
    background-position: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity:70%;
}

.img1{
  width: 100vw;
  height: 100vh;
}


.heropage1{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    position: relative;
    left:4rem;
    bottom:40rem;
    z-index:1;
}

.slogan{
    margin:20px 20px 0  20px;
    width:60vw;
    height:60vh;
    position:relative;
    top:-6rem;
    text-align:start;
    align-self: flex-start;
    color:#FDFEFE;
    font-weight: 900;
    font-size:4.5rem;
    text-transform:uppercase;
    margin: 3rem;
    line-height: 11rem;
    letter-spacing: 5px;
    z-index: 1;
}

.highlight1{
    background: #121212;
    border:1px solid #edeae8; 
    padding:10px;
    border-radius: 10px;
}

.btn{
  position: relative;
  top:-4rem;
  width:500px;
  height:100px;
}

.analytic_btn{
    width:400px;
    height:80px;
    color:#feeafa;
    border:3px solid #faf8f4;
    background-image: linear-gradient(to right bottom, #007f5f, #359e5e, #6abc52, #a7d83e, #eeef20);
    font-family: 'Geologica', sans-serif; 
    font-weight: 550;
    font-size:1.8rem ;
    text-transform: capitalize;
    border-radius:45px;
    transition-property: all;
    transition-duration: 0.4s;
    

}

.analytic_btn:hover{
    width:500px;
    height:100px;
    font-size:2.2rem ;
    color:#FDFEFE;
    border:3px solid #f0f0f8;
    background: #55a630;
    border-radius:55px;
    
    
}




#heropage2{
    width:100%;
    height:90rem;
    position: relative;   
}

 .showcase1{
    width:80%;
    height:30rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top:3rem;
    left:18rem;
    background:#a11d33;
    border-radius: 30px;
}

.slogan_about{
    width:100%;
    text-transform: capitalize;
    font-family: 'Geologica', sans-serif; 
    font-weight: 600;
    font-size: 2.2rem;
    color:#FDFEFE;
    position:relative;
    align-self:center;
    padding:30px;
    order:-1;
    

}

.highlight2{
    font-size:3.3rem ;
    color:#F1C40F;
    background: linear-gradient(301deg, rgba(245,176,65,1) 0%, rgba(241,196,15,1) 0%, rgba(241,196,15,1) 32%, rgba(241,196,15,1) 42%, rgba(241,243,14,1) 59%, rgba(245,237,65,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img2{
    width: 560px;
    height:500px;
    padding:15px;
   
}

#img2{
 width:500px;
 height:420px;
 position:relative;
 left:rem;
 background: whitesmoke;
 align-self: center;
 border-radius: 30px;
 margin-right:70px;
}

.showcase2{
    width:80%;
    height:30rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top:3rem;
    left:-3rem;
    background: #ffc300;
    padding:5px;
    margin:50px;
    border-radius:30px;
}


#img3{
  width:500px;
  height:400px;
  background: whitesmoke;
  margin:50px;
  border-radius: 30px;
}

.img3{
    padding:30px;
    width:450px;
    height:450px;
}

.showcase2Para {
  width:fill ;
  font-family: 'Geologica', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #161a1d;
  padding:0 10px;
  line-height:4rem;
  /* border: 1px solid black; */
}

.para2{
  color:#ffffff;
  text-transform: uppercase;
  font-weight: 800;
}

#showcase3{
    width:100%;
    height:24rem;
    display:flex;
    flex-direction:row;
    align-items: center;
    position: relative;
    background:#0077B6;
    border-radius:10px;
}

#img4{
   width:300px;
   height: 300px;
   padding:5px;
   background: whitesmoke;
}

.img4{
    width:300px;
    height:300px;

}  


/* 
#img2{
    width:370px;
    border: 2px solid white;
    position:relative;
    top:5.5rem;
   
}
.img2{
  
    width:400px;
    height:600px;
    padding:2rem; 
} */


@media (max-width:425px){

   .heropage{
     
   } 

  .slogan{
    top:-4rem;
    width:90%;
    font-size:2rem;
    line-height:5.5rem;

  }
.img2{
    left:-13rem;
    width:200%;
    height:50%;
}

.heropage1{
    /* top:rem; */
    top:-12rem;
    left:1rem;
}

.analytic_btn{
    margin:30px;
    top:13rem;
    font-size:1rem;
    width:300px;
    height:50px;
    border-radius:80px;
    box-shadow: 0px 0px 10px 5px #D35400;
}

}




